@font-face {
  font-family: 'xolonium';
  src: url('xolonium.otf'); 
}



html, body, ul, li, form, p, a, section, article, main, header, footer, div, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'xolonium';
    font-size: 100%;
    background: url("space.jpg") no-repeat #000;
}

a {
    color: #000;
}

select,th,td {
    font-family: 'xolonium';
    font-size: 20px;
}

input, button {
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    border: none;
    padding: 0 5px;
	font-family: 'xolonium';
}

button:hover {
    cursor: pointer;
}

textarea {
    font-size: 18px;
}

#wrapper {
    width: 70%;
    margin: 50px auto;
    background: rgba(44,71,98, .7);

}

#wrapper header h1 {
    background: rgba(255, 0, 0, .7);
    text-shadow: 2px 4px 3px #000;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
    padding: 20px;
    text-transform: uppercase;
}

#wrapper header h2 {
    font-size: 1.4rem;
    text-align: center;
    padding: 5px;
    background: rgba(255, 255, 255, .7);
    margin-bottom: 15px;
    text-shadow: 1px 1px #fff;
}

#wrapper header ul {
    list-style-type: none;
    display: inline-block;
    width: 66%;
    margin-left: 2%;
}

#wrapper header ul li {
    display: inline-block;
    margin-right: 1%;
}

#wrapper header ul li button {
    text-decoration: none;
    display: block;
    color: #000;
    background-color: #fff;

}

#wrapper header ul li button:hover {
    background-color: #f00;
    color:#fff;
}

#wrapper header form {
    display: inline-block;
    margin-right: 3%;
    padding: 2px 0;
}

#wrapper header h2.welcomeUser {
    margin: 15px;
    background-color: transparent;
    color:red;
    text-shadow: 1px 1px #000;
}

#search {
    width: 30%;
    display: inline-block;
}

#search input {
    width: 70%;
}

#loginRegisterField {
    padding: 10px;
}

#loginRegisterField h2{
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px #000;
    color: #fff;

}

#loginRegisterField input,#loginRegisterField label {
    display: block;
    font-size: 19px;
    margin: 0 auto 5px;
    width: 50%;
    color:#fff;
    text-shadow: 1px 1px #000;
}

#loginRegisterField input {
    color: #000;
    text-shadow: none;
}


#loginRegisterField button {
    display:block;
    margin: 20px auto 15px;
}

#response {
    width: 99%;
    color: #f00;
    padding: 5px;
    margin: 25px auto 0;
    text-transform: uppercase;
}

#response h2 {
    text-align: center;
}

/*Search results*/

#topics {
    margin: 25px 22px 0 22px;
}

#topics a {
    color: #fff;
    font-size: 19px;
    display: block;
}
.noResults {
    color: red;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}

#addTopic {
    padding: 10px;
    width: 100%;
    display: inline-block;
}

#addTopic h1 {
    text-align: center;
    text-shadow: 1px 1px #fff;
}
#addTopic input {
    width: 80%;
    margin: 15px auto 0;
    display: block;
    padding: 5px;
}
#addTopic textarea {
    width: 80%;
    height: 250px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    padding:5px;
}

#addTopic button {
    font-size: 25px;
    margin: 0 auto;
    display:block;
    width: 50%;
    margin-top: 15px;
}

table {
    width: 96%;
    border: 1px solid #000;
    border-collapse: collapse;
    background: rgba(255,255,255, .6);
    margin: 0 auto 20px;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

table td a {
    color: red;
}

#mainSection {
    width: 70%;
    vertical-align: top;
    margin:15px 10px 20px;
    border:2px solid #fff;
    background-color: #999;
}

footer {
    padding: 5px;
    background-color: #000;
    color: #fff;
}

footer .whoIsOnline {
    padding: 10px;
}

.whoIsOnline div {
    border: 1px solid #fff;
    padding: 5px;
    margin: 5px;
}

.whoIsOnline div span {
    color: yellow;
}

.whoIsOnline div a {
    color: red;
}

.whoIsOnline h3 {
    color: red;
    padding: 5px;
}

footer h4 {
    text-align: center;
}

/*Topics styling*/
section h2 {
    text-align: center;
    color: red;
}

a.button {
    text-decoration: none;
    padding: 4px;
    background:rgba(255,255,255, .6)
}

.topicOptions {
    padding: 0 21px 21px 21px;
}

.topicButtons {
    width: 66%;
    display: inline-block;
}

.selectForums {
    width:33%;
    display: inline-block;
}