html, body, ul, li, form, a, section, article, main, header, footer, div, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'arial';
    font-size: 100%;
    background-color: #999;
}

input, button {
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    border: none;
    padding: 0 5px;
}

button:hover {
    cursor: pointer;
}

textarea {
    font-size: 18px;
}

#wrapper {
    width: 80%;
    margin: 10px auto;
    background-color: #ccc;

}

#wrapper header h1 {
    background-color: red;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
    padding: 20px;
    text-transform: uppercase;
}

#wrapper header h2 {
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    text-shadow: 1px 1px #fff;
}

#wrapper header ul {
    list-style-type: none;
    display: inline-block;
    width: 66%;
    margin-left: 2%;
}

#wrapper header ul li {
    display: inline-block;
    margin-right: 1%;
}

#wrapper header ul li button {
    text-decoration: none;
    display: block;
    color: #000;
    background-color: #fff;

}

#wrapper header ul li button:hover {
    background-color: #f00;
    color:#fff;
}

#wrapper header form {
    display: inline-block;
    margin-right: 3%;
    padding: 2px 0;
}

#search {
    width: 30%;
    display: inline-block;
}

#loginRegisterField {
    padding: 10px;
}

#loginRegisterField h2{
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px #fff;

}

#loginRegisterField input,#loginRegisterField label {
    display: block;
    font-size: 20px;
    margin: 0 auto 5px;
    width: 50%;
}

#loginRegisterField button {
    width: 40%;
    display:block;
    margin: 20px auto 15px;
}

#addTopic {
    padding: 10px;
    width: 100%;
    display: inline-block;
}

#addTopic h1 {
    text-align: center;
    text-shadow: 1px 1px #fff;
}
#addTopic input {
    width: 80%;
    margin: 15px auto 0;
    display: block;
    padding: 5px;
}
#addTopic textarea {
    width: 80%;
    height: 250px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    padding:5px;
}

#addTopic button {
    font-size: 25px;
    margin: 0 auto;
    display:block;
    width: 50%;
    margin-top: 15px;
}

#aside {
    list-style-type: none;
    border: 2px solid #fff;
    display: inline-block;
    width: 20%;
    margin: 15px 22px;
}

#aside h2 {
    text-shadow: 1px 1px #fff;
}

.aside {
    padding: 20px 10px;
}

#mainSection {
    display: inline-block;
    width: 72%;
    vertical-align: top;
    margin:15px 10px 20px;
    border:2px solid #fff;

}

.asideForums {
    list-style-type: none;
    padding: 10px 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /*display: none;*/
}

footer {
    padding: 5px;
    background-color: #000;
    color: #fff;
}

footer p {
    text-align: center;
}

